<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kot">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="com.example.myapplicationn.CUSTOM_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- request for DANGEROUS_PERM permission to this application -->
    <uses-permission android:name="com.example.dangerousactivity.MY_DANG_PERM" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/HomeTheme">
        <activity
            android:name=".tool.shake.ShakeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.compose.AndroidCompose03"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.KeyBordActivity"
            android:exported="true"></activity>
        <activity
            android:name=".arch.recyclerview.multitype.visit.RecycleVisitActivity"
            android:exported="true" />
        <activity
            android:name=".hilt.dn.HiltSecondActivity"
            android:exported="false" />
        <activity
            android:name=".link.DeepLinkActivity"
            android:exported="true">

            <!-- for deep-link -->
            <intent-filter>

                <!-- 必须加否否无法响应点击链接的 Intent -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ewallet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hilt.dn.HiltMainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityD"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ActivityC"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity android:name=".tool.GoogleTopUpActivity" />
        <activity
            android:name=".ui.image.XfermodesActivity"
            android:exported="true" />
        <activity
            android:name=".mvvm.livedata.LivedataStickActivity"
            android:exported="true" />
        <activity
            android:name=".mvvm.livedata.LivedataStick02Activity"
            android:exported="true" />
        <activity
            android:name=".ui.image.RoundImageActivity"
            android:exported="true" />
        <activity
            android:name=".tool.lbs.LBSFirebaseActivity"
            android:exported="true" />
        <activity
            android:name=".coroutine.CoroutinesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.fragment.TabFragmentActivity"
            android:label="@string/title_activity_tab_fragment"
            android:theme="@style/HomeTheme.NoActionBar" />
        <activity android:name=".anim.LottieAnimActivity" />
        <activity android:name=".test.ui.EspressoActivity" />
        <activity android:name=".ColorIntActivity" />
        <activity android:name=".ui.dialog.DialogStateBarActivity" />
        <activity android:name=".ui.constraint.ConstraintLayerActivity" />
        <activity android:name=".ui.constraint.ConstraintAngerActivity" />
        <activity android:name=".ui.TriangleActivity" />
        <activity android:name=".ui.FontActivity" />
        <activity android:name=".test.robolec.MyActivity" />
        <activity android:name=".viewgroup.ViewGroupActivity" />
        <activity android:name=".tool.glide.lifecycle.GlideActivity" />
        <activity android:name=".mvvm.lifecycle.LifeCycleActivity" />
        <activity android:name=".mvvm.livedata.xiangxue.LiveData2Activity" />
        <activity android:name=".mvvm.livedata.xiangxue.LiveData1Activity" />
        <activity android:name=".mvvm.dongnao.viewmodel.ViewModelShareActivity" />
        <activity android:name=".mvvm.dongnao.lifecycle.Step2Activity" />
        <activity android:name=".tool.rx.WriteRxjavaActivity" />
        <activity android:name=".net.OkhtttpActivity" />
        <activity android:name=".permission.PemissionxUseActivity" />
        <activity android:name=".tool.audio.AudioRecordActivity" />
        <activity android:name=".tool.rx.RxJavaActivity" />
        <activity android:name=".tool.SharedPreferencesActivity" />
        <activity android:name=".ui.scroll.ScrollViewActivity" />
        <activity android:name=".mvvm.livedata.LiveDataActivity" />
        <activity android:name=".mvvm.livedata.LiveDataTestActivity" />
        <activity android:name=".mvvm.demo.UseDemoActivity" />
        <activity android:name=".customview.DrawPathActivity" />
        <activity android:name=".customview.StrapSleepActivity" />
        <activity android:name=".ui.viewpager.ScreenSlidePagerActivity" />
        <activity android:name=".ui.custom.CustomViewActivity" />
        <activity android:name=".mvvm.viewmodel.ViewModelActivity" />
        <activity android:name=".tool.time.TextClockActivity" />
        <activity android:name=".tool.screenshot.ScreenShortActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity
            android:name=".tool.location.GpsActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".tool.image.ImageHandleActivity" />
        <activity android:name=".tool.image.ScreenPhotoActivity" />
        <activity android:name=".tool.image.PhotoBasicsActivity" />
        <activity android:name=".anim.TextViewBigActivity" />
        <activity android:name=".anim.MoveViewActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />
        <activity android:name=".ui.ResultBleActivity" />
        <activity android:name=".ui.GradientActivity" />
        <activity android:name=".ui.MeasureLearnActivity" />
        <activity android:name=".ui.CircleProgressActivity" />
        <activity android:name=".ui.constraint.ConstraintPlaceholderActivity" />
        <activity android:name=".ui.constraint.Constraint1Activity" />
        <activity android:name=".arch.recyclerview.MainActivityApp" />
        <activity android:name=".ui.ScrollPickerActivity" />
        <activity android:name=".anim.ViewAnimActivity" />
        <activity android:name=".ui.MessageActivityFragment" />
        <activity android:name=".mvvm.scrap.StrapCheckActivity" />
        <activity android:name=".hilt.me.HiltActivity" />
        <activity android:name=".hilt.me.HiltSecondActivity" />
        <activity
            android:name=".activity.activityresult.FirstResultActivity"
            android:exported="true"></activity>

        <provider
            android:name=".CameraProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- grantUriPermissions: 设置允许获取访问uri的临时权限 exported:设置允许获取访问uri的临时权限 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_path" />
            <!-- 用于设置FileProvider的文件访问路径 -->
        </provider>

        <activity android:name=".activity.activityresult.SecondResultActivity" />
        <activity
            android:name=".arch.recyclerview.multitype.kuriovt.second.RecycleVisitSecondActivity"
            android:exported="true" />
        <activity
            android:name=".arch.recyclerview.multitype.kuriovt.third.RecycleVisitThirdActivity"
            android:exported="true" />
    </application>

</manifest>