<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.john.kot">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name=".CameraProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">

            <!-- grantUriPermissions: 设置允许获取访问uri的临时权限 exported:设置允许获取访问uri的临时权限 -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/camera_path" />
            <!-- 用于设置FileProvider的文件访问路径 -->
        </provider>

        <activity android:name=".custom.DrawPathActivity">

        </activity>
        <activity android:name=".custom.StrapSleepActivity">

        </activity>
        <activity android:name=".tool.date.DateActivity"></activity>
        <activity android:name=".ui.viewpager.ScreenSlidePagerActivity" />
        <activity android:name=".tool.LogActivity" />
        <activity android:name=".ui.custom.CustomViewActivity" />
        <activity android:name=".arch.viewmodel.ViewModelActivity" />
        <activity android:name=".time.TextClockActivity" />
        <activity android:name=".tool.screenshot.ScreenShortActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".tool.location.GpsActivity" />
        <activity android:name=".tool.image.ImageHandleActivity" />
        <activity android:name=".tool.image.ScreenPhotoActivity" />
        <activity android:name=".tool.image.PhotoBasicsActivity" />
        <activity android:name=".anim.TextViewBigActivity" />
        <activity android:name=".BleRestartActivity" />
        <activity android:name=".test.TestActivity" >

        </activity>
        <activity android:name=".anim.MoveViewActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />
        <activity android:name=".ui.ResultBleActivity" />
        <activity android:name=".skin.SkinStaticThemeActivity" />
        <activity android:name=".ui.GradientActivity" />
        <activity android:name=".ui.MeasureLearnActivity" />
        <activity android:name=".ui.CircleProgressActivity" />
        <activity android:name=".ui.ConstraintPlaceholderActivity" />
        <activity android:name=".elec.ElecActivity" />
        <activity android:name=".arch.recyclerview.MainActivity" />
        <activity android:name=".ui.ScrollPickerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".anim.ViewAnimActivity" />
        <activity android:name=".ui.MessageActivityFragment" />


        <activity android:name=".mvvm.StrapCheckActivity">

        </activity>
    </application>

</manifest>