<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.john.kot">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HomeTheme">
        <activity
            android:name=".ui.fragment.TabFragmentActivity"
            android:exported="true"
            android:label="@string/title_activity_tab_fragment"
            android:theme="@style/HomeTheme.NoActionBar">

        </activity>
        <activity
            android:name=".anim.LottieAnimActivity"
            android:exported="true" />
        <activity
            android:name=".test.ui.EspressoActivity"
            android:exported="true" />
        <activity
            android:name=".ColorIntActivity"
            android:exported="true" />
        <activity
            android:name=".ui.dialog.DialogStateBarActivity"
            android:exported="true" />
        <activity
            android:name=".ui.constraint.ConstraintLayerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.constraint.ConstraintAngerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.TriangleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.FontActivity"
            android:exported="true" />
        <activity
            android:name=".test.robolec.MyActivity"
            android:exported="true" />
        <activity
            android:name=".viewGroup.ViewGroupActivity"
            android:exported="true" />
        <activity
            android:name=".tool.glide.lifecycle.GlideActivity"
            android:exported="true" />
        <activity
            android:name=".mvvm.lifecycle.LifeCycleActivity"
            android:exported="true" />
        <activity android:name=".mvvm.livedata.xiangxue.LiveData2Activity" />
        <activity
            android:name=".mvvm.livedata.xiangxue.LiveData1Activity"
            android:exported="true" />
        <activity
            android:name=".mvvm.dongnao.viewmodel.ViewModel1Activity"
            android:exported="true" />
        <activity
            android:name=".mvvm.dongnao.lifecycle.Step2Activity"
            android:exported="true" />
        <activity android:name=".tool.rx.WriteRxjavaActivity" />
        <activity android:name=".net.OkhtttpActivity" />
        <activity android:name=".permission.PemissionxUseActivity" />
        <activity android:name=".tool.audio.AudioRecordActivity" />
        <activity android:name=".mvvm.fragment.MvvMFragmentActivity" />
        <activity android:name=".tool.rx.RxJavaActivity" />
        <activity android:name=".tool.wechat.Activity.LoginNewActivity" />
        <activity android:name=".tool.SharedPreferencesActivity" />
        <activity android:name=".ui.scroll.ScrollViewActivity" />
        <activity android:name=".ui.dbdraw.DatabindingDrawableActivity" />
        <activity android:name=".mvvm.LiveDataActivity" />
        <activity android:name=".mvvm.livedata.LiveDataTestActivity" />
        <activity android:name=".mvvm.demo.UseDemoActivity" />
        <activity android:name=".customview.DrawPathActivity" />
        <activity android:name=".customview.StrapSleepActivity" />
        <activity android:name=".tool.date.DateActivity" />
        <activity android:name=".ui.viewpager.ScreenSlidePagerActivity" />
        <activity android:name=".tool.LogActivity" />
        <activity android:name=".ui.custom.CustomViewActivity" />
        <activity android:name=".mvvm.viewmodel.ViewModelActivity" />
        <activity android:name=".time.TextClockActivity" />
        <activity android:name=".tool.screenshot.ScreenShortActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".tool.location.GpsActivity" />
        <activity android:name=".tool.image.ImageHandleActivity" />
        <activity android:name=".tool.image.ScreenPhotoActivity" />
        <activity android:name=".tool.image.PhotoBasicsActivity" />
        <activity android:name=".anim.TextViewBigActivity" />
        <activity android:name=".anim.MoveViewActivity" />
        <activity android:name=".anim.PropertyAnimActivity" />
        <activity android:name=".ui.ResultBleActivity" />
        <activity android:name=".skin.SkinStaticThemeActivity" />
        <activity android:name=".ui.GradientActivity" />
        <activity android:name=".ui.MeasureLearnActivity" />
        <activity android:name=".ui.CircleProgressActivity" />
        <activity android:name=".ui.constraint.ConstraintPlaceholderActivity" />
        <activity android:name=".ui.constraint.Constraint1Activity" />
        <activity android:name=".elec.ElecActivity" />
        <activity
            android:name=".arch.recyclerview.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ScrollPickerActivity" />
        <activity android:name=".anim.ViewAnimActivity" />
        <activity android:name=".ui.MessageActivityFragment" />
        <activity android:name=".mvvm.scrap.StrapCheckActivity" />

        <provider
            android:name=".CameraProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- grantUriPermissions: 设置允许获取访问uri的临时权限 exported:设置允许获取访问uri的临时权限 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_path" />
            <!-- 用于设置FileProvider的文件访问路径 -->
        </provider>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>